{% load static %}
<head>
    <link rel="stylesheet" type="text/css" href="{% static 'css/login_styles.css' %}">
</head>

{% block content %}
<div class="container">
    <div class="form-container">
        <form method="post"> 
            {% csrf_token %}
            
            <div class="form">
                <h2 style="text-align: center;">Sign In</h2>

                {% if form.errors %}
                <p style="color: red; font-size: 0.8em; text-align: center;"> 
                    Username and Password didn't match. 
                </p>
                {% endif %}

                {{form.username.label_tag}}
                {{form.username}}
                <br><br>
                {{form.password.label_tag}}
                {{form.password}}
            </div>

            <br>
            <div class="button-container">
                <button class="btn btn-primary" type="submit">
                    Sign In
                </button>
            </div>
        </form> 
        </div>
</div>
{% endblock %}